.widget-sm {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.widget-sm__title {
    font-size: 22px;
    font-weight: 600;
}

.widget-sm__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.widget-sm__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.widget-sm__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widget-sm__user {
    display: flex;
    flex-direction: column;
}

.widget-sm__user-name {
    width: 160px;
    font-weight: 600;
}

.widget-sm__user-title {
    font-weight: 300;
    width: 160px;
}

.widget-sm__btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widget-sm__icon {
    font-size: 16px !important;
}